<!--{{#partial "content"}}-->

<!--    <div class="jumbotron text-center">-->
<!--        <h1>Sites Management App</h1>-->
<!--        <p>Keep Track Each site and the Engineer Assigned to Maintain it!</p>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--&lt;!&ndash;            Column One&ndash;&gt;-->
<!--            <div class="col-sm-4">-->
<!--                <h1 >Engineer's List!</h1>-->
<!--                <p>Recently Added Engineer:</p>-->
<!--                {{#if posts}}  &lt;!&ndash;if posts exists, then&ndash;&gt;-->
<!--                    {{#each posts}} &lt;!&ndash;loop&ndash;&gt;-->
<!--                        <p>{{content}}</p> &lt;!&ndash;show&ndash;&gt;-->
<!--                    {{/each}}-->
<!--                {{else}}-->
<!--                    <p>No Engineer!</p>-->
<!--                {{/if}}-->
<!--                <p> Add a new Engineer: </p>-->

<!--                <form action="/posts/new" method="POST">-->
<!--                    <label for="content">Add Engineer</label>-->
<!--                    <input id="content" name="content" type="text">-->

<!--                    <button type="submit" class="btn btn-default">Add!</button>-->
<!--                </form>-->
<!--            </div>-->
<!--&lt;!&ndash;            Column Two&ndash;&gt;-->
<!--            <div class="col-sm-4">-->
<!--                <h1 >Site's List!</h1>-->

<!--                <p>Recently Added Site:</p>-->

<!--                {{#if posts}}  &lt;!&ndash;if posts exists, then&ndash;&gt;-->
<!--                    {{#each posts}} &lt;!&ndash;loop&ndash;&gt;-->

<!--                        <p>{{content}}</p> &lt;!&ndash;show&ndash;&gt;-->
<!--                    {{/each}}-->
<!--                {{else}}-->
<!--                    <p>No Site!</p>-->
<!--                {{/if}}-->

<!--                <p> Add a new Site: </p>-->

<!--                <form action="/posts/new" method="POST">-->
<!--                    <label for="content">Add Site</label>-->
<!--                    <input id="content" name="content" type="text">-->

<!--                    <button type="submit" class="btn btn-default">Add!</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="col-sm-4">-->
<!--                <h3>Add Engineer</h3>-->
<!--                <p>Lorem ipsum dolor..</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->




<!--{{/partial}}-->

<!--{{> layout.hbs}}-->

<!--New Index for Blog Post!-->

{{#partial "content"}}

    <h1>Post list!</h1>

    {{#if posts}}
        {{#each posts }}
            <p>Current post:</p>
            <p>{{ content }} <a href="/posts/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}