
{{#partial "content"}}

    <div class="container">

    <h1> List of Sites!</h1>

    {{#if sites}}
        {{#each sites }}
            <p><a href="/engineers/{{engineerId}}/sites/{{id}}">{{description}}</a></p>
                <p><a href="/sites/{{id}}/sites/{{id}}">{{description}}</a></p>

        {{/each}}
    {{else}}
        <p>No Site!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}
