{{#partial "content"}}

    <p>Description: {{ site.description }}</p>
    <p>Engineer Assigned to the Site: {{ engineer.name }}</p>
    <h5>
        Site Status:
        {{#if site.published }}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Completed
        {{else}}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Okay
        {{/if}}
    </h5>
    <p>
        <a href="/tasks/{{site.id}}/edit">Edit this Site</a><br>
        <a href="/engineers/{{task.engineerId}}/sites/{{site.id}}/delete">DELETE this Site</a>
    </p>

{{/partial}}

{{> layout.hbs}}
